.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;

}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imgContainer {
  width: 500px;
  height: auto;
}

.imgContainer img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.userInfo {
  list-style-type: none;
  padding: 2rem;
  line-height: 7.5rem;
  font-size: 2rem;
  color: white;
  border: 2px solid white;
  border-radius: 1rem;
  width: 750px;
  min-height: 400px; 
}

.buttonContainer {
  margin-top: 1rem;
}

.imgContainer,
.userInfo {
  margin-top: 2rem;
}

.mobileOnly {
  display: none;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
  }

  .imgContainer {
    width: 300px;
  }

  .userInfo {
    margin-top: 0;
    font-size: 1rem;
    max-width: 90%;
    padding: 1rem;
    line-height: 2rem;
    min-height: 210px; 
    width: 300px;
  }

  .buttonContainer{
    margin-top: 0;
  }

  .desktopOnly {
    display: none;
  }

  .mobileOnly {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  button{
    font-size: 1.2rem;
  }
}
